<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <title>{{title}}</title>
    <script type="text/javascript" src="/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/vendor/element.min.js"></script>
    <link rel="stylesheet" href="/vendor/element.min.css">
    <link rel="stylesheet" href="/css/global/ui.min.css">
    <meta name="referrer" content="no-referrer">
</head>
<body>
{{{body}}}
</body>
<script src="https://s19.cnzz.com/z_stat.php?id=1275142394&web_id=1275142394" language="JavaScript"></script>
</html>
