<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta http-equiv="Expires" CONTENT="0">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="Pragma" CONTENT="no-cache">
    <title>{{title}}</title>
    <script type="text/javascript" src="/vendor/vue.min.js"></script>
    <script type="text/javascript" src="/vendor/element.min.js"></script>
    <link rel="stylesheet" href="/vendor/element.min.css">
    <link rel="stylesheet" href="/css/global/ui.min.css">
    <link rel="stylesheet" href="/css/global/layout.min.css">
    {{#dict}}<script type="text/json" name="dict">{{{.}}}</script>{{/dict}}
</head>
<body>
    <div class="sogal-layout layout-header layout-noaside" id="layout-header-vue" v-cloak>
        {{> header }}
    </div>
    <div class="sogal-layout layout-body layout-noaside">
        {{{body}}}
    </div>
</body>

<script type="text/javascript" src="/js/global/layout.bundle.js"></script>

<script src="https://s19.cnzz.com/z_stat.php?id=1275142394&web_id=1275142394" language="JavaScript"></script>
</html>