<div id="app" v-cloak>
    <div class="dsp-list">
        <div class="dsp-list_header">
            <div class="dsp-list_header-tabs">
                <div class="dsp-list_header-tabs-item" v-for="tab in tab" :class="{active: tab.value == query.currTab}" @click="changeTab(tab.value)">{[tab.label]}</div>
            </div>
            <div class="pull-right">
                <div class="dsp-list_header-query" style="display: flex">
                    <el-input v-model="query[query.currTab].name"
                              :maxlength="11"
                              placeholder="姓名或手机号"
                              clearable size="small"
                              suffix-icon="el-icon-search"
                              style="margin: 0 10px" @change="fetchData(1)">
                    </el-input>
                    <el-input v-model="query[query.currTab].recommendInfo" :maxlength="11"
                              suffix-icon="el-icon-search"
                              placeholder="推荐人姓名或手机号"
                              clearable size="small" style="margin: 0 10px"
                              @change="fetchData(1)"></el-input>
                    <el-date-picker
                            style="min-width: 300px"
                            v-model="query[query.currTab].time"
                            type="daterange"
                            size="small"
                            @change="fetchData(1)"
                            value-format="yyyy-MM-dd"
                            start-placeholder="申请"
                            end-placeholder="日期">
                    </el-date-picker>
                    <!--<el-input v-model="query[query.currTab].time" :maxlength="11" placeholder="注册日期" clearable size="small" style="margin: 0 10px" ></el-input>-->
                </div>
            </div>


        </div>

        <div class="dsp-list_table" :key="query.currTab">
            <!--表格-->
            <el-table
                    :data="list[query.currTab]"
                    v-loading="views.loading"
                    stripe
                    style="width: 100%">
                <el-table-column  prop="name" label="姓名/电话">
                    <template slot-scope="scope">
                        {[scope.row.name]}
                        {[scope.row.mobile]}
                    </template>
                </el-table-column>
                <el-table-column  prop="province" label="身份">
                    <template slot-scope="scope">
                        <dsp-img trigger="link" v-if="scope.row.positionUrl" :title="$translate(meta.position,scope.row.position) " :src="DSP.globalConfig.fileBaseUrl + scope.row.positionUrl"></dsp-img>
                        <span v-else>{[scope.row.position]}</span>
                    </template>
                </el-table-column>
                <el-table-column label="微信">
                    <template slot-scope="scope">
                        <a v-if="scope.row.userInfo" :href="'/user/userInformation?userId='+scope.row.userInfo.id" target="_blank" style="display: flex;line-height: 28px">
                            <el-avatar size="small" :src="scope.row.userInfo && scope.row.userInfo.avatarUrl"></el-avatar>
                            <span style="margin: 0 7px 0 10px">{[scope.row.userInfo && scope.row.userInfo.nickName]}</span>
                            <i class="icon-male" style="line-height: 28px" v-if="scope.row.userInfo && scope.row.userInfo.gender == 1"></i>
                            <i class="icon-female font-danger"  style="line-height: 28px"  v-if="scope.row.userInfo && scope.row.userInfo.gender == 2"></i>
                        </a>
                    </template>
                </el-table-column>
                <el-table-column label="通过日期" v-if="query.currTab === 'tab1'">
                    <template slot-scope="scope"> {[$localDateTimeNumber(scope.row.authTime) | datetimes]}</template>
                </el-table-column>
                <el-table-column label="申请日期">
                    <template slot-scope="scope"> {[$localDateTimeNumber(scope.row.timeCreated) | datetimes]}</template>
                </el-table-column>
                <el-table-column label="推荐人">
                    <template slot-scope="scope">
                        <a v-if="scope.row.recommendId" style="display: flex;line-height: 28px" :href="'/user/userInformation?userId='+scope.row.recommendId" target="_blank">
                            <el-avatar size="small" :src="scope.row.recommendAvatarUrl"></el-avatar>
                            <span style="margin: 0 7px 0 10px">{[scope.row.recommendName]}</span>
                        </a>
                    </template>
                </el-table-column>
                <el-table-column  prop="remark" label="审核备注" v-if="query.currTab === 'tab2'">
                </el-table-column>
                <el-table-column label="操作" v-if="query.currTab === 'tab0'">
                    <template slot-scope="scope">
                        {{#contains user.privileges 'RZ_CREATE_MONEY_AUDIT'}}
                            <el-button type="primary" @click="openAudit(scope.row)" size="small">审核</el-button>
                        {{/contains}}
                    </template>
                </el-table-column>
            </el-table>
            <!--分页-->
            <div class="dsp-list_table-pagination">
                <el-pagination
                        @size-change="fetchData"
                        @current-change="fetchData"
                        :current-page.sync="query[query.currTab].currentPage"
                        :page-sizes="[15,30,50, 100]"
                        :page-size.sync="query[query.currTab].pageSize"
                        layout= "total, sizes, prev, pager,next"
                        :total="query[query.currTab].totalSize">
                </el-pagination>
            </div>
        </div>
    </div>
    <!--审核框-->
    <el-dialog
            title="审核"
            :before-close="closeAudit"
            :visible.sync="views.auditD"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            width="470px"
            v-loading="views.auditL "
     >

        <div  style="margin-top: 16px">
           <span class="font-label">上次审核备注：</span>{[auditData && auditData.history]}
            <!--<el-tooltip  effect="dark" content="点击我，将左面文字复制进下方输入框中" placement="top" v-if="auditData && auditData.history">-->
                <!--<a style="cursor: pointer;float: right" class="el-icon-document-copy" @click="auditData.remark = auditData.history"></a>-->
            <!--</el-tooltip>-->
        </div>
        <el-select v-model="auditData.remark" clearable placeholder="请选择审核备注" style="margin: 10px 0 20px">
            <el-option
                    v-for="item in meta.CXHHR_REJECT_REASON"
                    :key="item.value"
                    :label="item.label"
                    :value="item.label">
            </el-option>
        </el-select>
        <!--<el-input-->
                <!--style="margin: 10px 0 20px"-->
                <!--type="textarea"-->
                <!--:show-word-limit="true"-->
                <!--resize="none"-->
                <!--maxlength="20"-->
                <!--:rows="6"-->
                <!--placeholder="审核备注"-->
                <!--v-model="auditData.remark">-->
        <!--</el-input>-->

        <div slot="footer" class="dialog-footer right" >
            <el-button type="primary" @click="save('yes')">通过</el-button>
            <el-button type="danger" @click="save('no')">拒绝</el-button>
        </div>
    </el-dialog>
</div>

<script src="/js/userAuthentication/audit.bundle.js"></script>
