<div id="app" v-cloak>
    <div class="dsp-list">
        <!--头部-->
        <div class="dsp-list_header">
            <div class="dsp-list_header-tabs">
                <div class="dsp-list_header-tabs-item" v-for="tab in tabList" :class="{active: tab.id == query.currentTab}" @click="showTab(tab.id)">{[tab.title]}</div>
            </div>

            <!--查询条件区域-->
            <dsp-criteria :criteria="criteria[query.currentTab]" v-on:remove="removeCriteria"></dsp-criteria>

            <!--按钮区域-->
            <div class="pull-right">
                <el-button size="small" type="primary" plain @click="showFilterPanel">
                    <i class="icon-filter"></i> 筛选
                </el-button>
            </div>
        </div>

        <div class="dsp-list_table" key="tab1" v-if="query.currentTab == 'tab1'">
            <!--表格-->
            <el-table
                    :data="tableData.tab1"
                    v-loading="loading"
                    stripe
                    style="width: 100%">
                <el-table-column label="序号" type="index" :index="indexMethod" width="80" class-name="index" ></el-table-column>
                <el-table-column  prop="name" label="姓名"></el-table-column>
                <el-table-column  prop="mobile" label="电话"></el-table-column>
                <el-table-column  prop="email" label="邮箱"></el-table-column>
                <el-table-column  prop="address.province" label="所在省份"></el-table-column>
                <el-table-column label="联系地址">
                    <template slot-scope="scope">
                        {[scope.row.address.province]}
                        {[scope.row.address.city]}
                        {[scope.row.address.addr]}
                    </template>
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <a class="list-link " href="javascript:void(0)">编辑</a>
                        <a class="list-link link-danger" href="javascript:void(0)">删除</a>
                    </template>
                </el-table-column>
            </el-table>

            <!--分页-->
            <div class="dsp-list_table-pagination">
                <el-pagination
                        @size-change="onSizeChange"
                        @current-change="onCurrentChange"
                        :current-page="query.tab1.currentPage"
                        :page-sizes="[15,30,50, 100]"
                        :page-size="query.tab1.pageSize"
                        layout= "total, sizes, prev, pager,next"
                        :total="query.tab1.totalSize">
                </el-pagination>
            </div>
        </div>

        <div class="dsp-list_table" :key="query.currentTab" v-if="query.currentTab == 'tab2' || query.currentTab == 'tab3'">
            <!--表格-->
            <el-table
                    :data="tableData[query.currentTab]"
                    v-loading="loading"
                    stripe
                    style="width: 100%">
                <el-table-column label="序号" type="index" :index="indexMethod" width="80" class-name="index" ></el-table-column>
                <el-table-column  prop="name" label="姓名"></el-table-column>
                <el-table-column  prop="wechat" label="微信"></el-table-column>
                <el-table-column  prop="weibo" label="微博" v-if="query.currentTab== 'tab3'"></el-table-column>
                <el-table-column  prop="qq" label="QQ"></el-table-column>
                <el-table-column  prop="address.province" label="所在省份"></el-table-column>
                <el-table-column label="联系地址">
                    <template slot-scope="scope">
                        {[scope.row.address.province]}
                        {[scope.row.address.city]}
                        {[scope.row.address.addr]}
                    </template>
                </el-table-column>
                <el-table-column label="操作">
                    <template slot-scope="scope">
                        <a class="list-link " href="javascript:void(0)">编辑</a>
                        <a class="list-link link-danger" href="javascript:void(0)">删除</a>
                    </template>
                </el-table-column>
            </el-table>

            <!--分页-->
            <div class="dsp-list_table-pagination">
                <el-pagination
                        @size-change="onSizeChange"
                        @current-change="onCurrentChange"
                        :current-page="query[query.currentTab].currentPage"
                        :page-sizes="[15,30,50, 100]"
                        :page-size="query[query.currentTab].pageSize"
                        layout= "total, sizes, prev, pager,next"
                        :total="query[query.currentTab].totalSize">
                </el-pagination>
            </div>
        </div>

        <!--筛选面板-->
        <div class="dsp-panel-popover" :class="{'active': filterPanelVisible}">
            <div class="dsp-panel-popover_header">
                <span>筛选</span>
                <i class="el-icon-close" @click="hideFilterPanel" ></i>
            </div>

            <div class="dsp-panel-popover_body" v-if="query.currentTab == 'tab1'">
                <div class="filter-row">
                    <el-input v-model="query.tab1.name" placeholder="姓名" size="small" maxlength="10" clearable="true" ></el-input>
                </div>
                <div class="filter-row">
                    <el-input v-model="query.tab1.mobile" placeholder="手机号码" size="small" maxlength="11" clearable="true" ></el-input>
                </div>
                <div class="filter-row">
                    <el-input v-model="query.tab1.email" placeholder="邮箱" size="small" maxlength="11" clearable="true" ></el-input>
                </div>

                <!--查询重置-->
                <div class="filter-row button-row">
                    <!--查询-->
                    <el-button @click="doQuery" type="primary">查询</el-button>
                    <el-button @click="doReset">重置</el-button>
                </div>
            </div>

            <div class="dsp-panel-popover_body" v-if="query.currentTab == 'tab2' || query.currentTab == 'tab3'">
                <div class="filter-row">
                    <el-input v-model="query[query.currentTab].email" placeholder="邮箱" size="small" maxlength="11" clearable="true" ></el-input>
                </div>
                <div class="filter-row">
                    <el-input v-model="query[query.currentTab].qq" placeholder="QQ" size="small" maxlength="11" clearable="true" ></el-input>
                </div>
                <div class="filter-row">
                    <el-input v-model="query[query.currentTab].wechat" placeholder="微信" size="small" maxlength="11" clearable="true" ></el-input>
                </div>
                <div class="filter-row">
                    <el-input v-model="query[query.currentTab].weibo" placeholder="微博" size="small" maxlength="11" clearable="true" v-if="query.currentTab == 'tab3'"></el-input>
                </div>

                <!--查询重置-->
                <div class="filter-row button-row">
                    <!--查询-->
                    <el-button @click="doQuery" type="primary">查询</el-button>
                    <el-button @click="doReset">重置</el-button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="/js/ui/list_complex_tab.bundle.js"></script>
